html,
body {
  margin: 0;
  padding: 0;
}
header {
  background-color: blue;
  height: 80%;
  width: 100%;
}
main {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  background-color: white;
}
footer {
  height: 80%;
  width: 100%;
  background-color: red;
}

/*======= added code =======*/
.flex-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.item {
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: #FCF2EC;
}
