html,
body {
  margin: 0;
  padding: 0;
}
header {
  background-color: blue;
  height: 10%;
  width: 100%;
}
main {
  background-color: white;
  width: 100%;
  height: 100%;
}
footer {
  background-color: red;
  height: 100%;
  width: 100%;
}

/*======= added code =======*/
.flex-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
